name: Docker CI + Security

on:
  push:
    branches: [ "master" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-web-app ./eam-repo-lpr4

      - name: Trivy security scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: my-web-app
          severity: HIGH,CRITICAL

      - name: Pipeline finished
        run: echo "Docker build and security scan passed"
